extends ./partials/html.jade

block title
	title Markup blueprint

block content
	+grid
		.header
			+row
				+col(2, 5)
					.gravatar
						img.gravatar__img(src='https://s.gravatar.com/avatar/83a344f76b05b92ff76e38e40ad91dd9?s=80')
					h1.heading-h1 Dmitry Shvalyov
					p.sub-heading
						a.link(href='https://github.com/dshster') View My GitHub Profile
				+col(6, 9)
